body {
    background: #2d343d;
  }
  
  .login {
    margin: 20px auto !important;
    width: 300px !important;
    padding: 30px 25px !important;
    background: white !important;
    border: 1px solid #c4c4c4 !important;
    box-sizing: unset !important;
  }
  
  h1.login-title {
    margin: -28px -25px 25px !important;
    padding: 15px 25px !important;
    line-height: 30px !important;
    font-size: 25px !important;
    font-weight: 300 !important;
    color: #ADADAD !important;
    text-align:center !important;
    background: #f7f7f7 !important;
   
  }
  
  .login-input {
    width: 285px !important;
    height: 50px !important;
    margin-bottom: 25px !important;
    padding-left:10px !important;
    font-size: 15px !important;
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
  }
  .login-input:focus {
      border-color:#6e8095 !important;
      outline: none !important;
    }
  .login-button {
    width: 100% !important;
    height: 50px !important;
    padding: 0 !important;
    font-size: 20px !important;
    color: #fff !important;
    text-align: center !important;
    background: #f0776c !important;
    border: 0 !important;
    border-radius: 5px !important;
    cursor: pointer !important; 
    outline:0 !important;
  }
  
  .login-lost
  {
    text-align:center !important;
    margin-bottom:0px !important;
  }
  
  .login-lost a
  {
    color:#666 !important;
    text-decoration:none !important;
    font-size:13px !important;
  }
  .errLbl{
      color: red !important;
      text-align: center !important;
  }
  .changeMenuView{

  }
  .smallMenuList{
    width:100% !important;;
  }

  .cubeContainer{
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    display: flex;
  }
  
  .cubeItem{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto; 
    max-width: 210px !important; 
    margin: .5vw; 
  }

  @media screen and (max-width: 400px) {
    .cubeItem { margin: 10px 10px; }
    .cubeContainer { padding: 0; }
    
  }